*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.calc {
    width:400px;
    background-color: black;
    color: white;
}

.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: rgb(230, 230, 82);
    color:black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;

}

.calc-button:hover {
    background-color: rgb(231, 231, 167);
}

.calc-button:active {
    background-color: rgb(105, 105, 21);
}

.calc-button:last-child{
    background-color: rgb(226, 134, 58);
    color:white;
}

.calc-button:last-child:hover {
    background-color: rgb(221, 168, 125);
}

.calc-button:last-child:active{
    background-color: rgb(134, 67, 13);
}
.double {
    width: 49.7%;
}

.triple{
    width:74.8%;
}

.calc-row{
    display:flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}